
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
#slider {
height: 100vh;
background-color: #7f7380;
align-items: center;
display: flex;
}
#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#slider .right{
   width: 40px;
   height: 40px; 
   display: inline-block;
   background-color: #fff;
   z-index: 55;
   text-align: center;
   line-height: 40px;
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
}

#slider .left{
    width: 40px;
    height: 40px; 
    display: inline-block;
    background-color: #fff;
    z-index: 55;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 50%;
   left: 0;
    transform: translateY(-50%);
 }

.slider {
    flex: 1 1 0%;
}

.slider img{
    height: 450px !important;
    object-fit: cover;
}